* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    position: fixed;
    background-color: #b33647;   
    padding: 0.5rem;
    color: white;
}

#header h1 {
    font-weight: 50;
    font-size: 2.5rem;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 20vh;
    min-height: 100vh;
    width: 100%;
    font-family: sans-serif;
    background-color: #303841;
    overflow-x: hidden;
}

#heading {
    padding: 2rem;
    padding-top: 0;
    text-align: center;
}

#heading h1 {
    color: white
}

#heading p {
    padding-top: 0.5rem;
    font-style: italic;
    font-size: 1.5rem;
    color: #b33647;
    font-weight: 100;
}

#input-area {
    width: 100vw;
    text-align: center;
    align-items: center;
}

#list {
    padding: 2rem;
}

#submit-btn {
    width: 2rem;
    font-size: 0.9rem;
}

li {
    color: white;
    list-style-type: none;
}

#item-btns {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    margin: 1rem;
}

#del-btn {
    margin-left: 1rem;
}

#check-btn {
    margin-left: 1rem;
}

.strikethrough {
    text-decoration: line-through;
}